<ion-view title="Sobre">
	<ion-content id="message-body">
		<!-- <img src="img/cotidiano_fundo.jpg">-->
	    <div class="item-text-wrap"><blockquote>
			
			<p>Entendendo que o Candomblé é uma religião tradicionalmente difundida exclusivamente de forma oral, percebemos a necessidade de documentá-la, bem como facilitar o acesso dos mais jovens à religião.</p>
			<br>
			<br>
			<p>Quem somos:</p>
			<br>
			<ul>			
				<li>Mãe Stella de Oxóssi (Maria Stella de Azevedo Santos) - Produção de conteúdo</li>
				<li>Graziela Domini - Produção de conteúdo</li>
				<li>Cascudo (Lucas Teixeira Rocha) - Desenvolvimento de software</li>
				<li>Antônio Ladeia - Desenvolvimento de software</li>
				<li>Rose Vermelho - Design gráfico</li>
			</ul>
			
			<p>Agradecimentos especiais:</p>
			<br>
			<ul>			
				<li>Nelson Pretto</li>
				<li>Kah Menezes</li>
				<li> --> INSERIR NOME DO RAPAZ QUE AJUDOU ROSE COM GRAVAÇÃO E TRANSMISSÃO DOS AUDIOS AQUI <-- </li>
				<li>Renata Aline Silva Rocha</li>
			</ul>
			
		</blockquote></div>
  </ion-content>
  </ion-view>
