<ion-view title="Sobre">
	<ion-content id="message-body">
		<!-- <img src="img/cotidiano_fundo.jpg">-->
	    <div class="item-text-wrap">
		<blockquote>
			Este é um repositório de cultura yorubá (ou nagô). Todo conteúdo foi produzido e disponibilizado por Mãe Stella de Oxóssi e Graziela Domini. O software foi desenvolvido por Lucas Teixeira Rocha (Cascudo).
			<br>
			Lembramos também que sem o auxilio e apoio de algumas pessoas em algum momento do processo, a conclusão do projeto não teria sido possível:
			<br>
			<br>
			<ul>			
				<li>- RAPAZ QUE AJUDOU ROSE COM GRAVAÇÃO E TRANSMISSÃO DOS AUDIOS</li>
				<li>- Antonio Ladeia</li>
				<li>- Renata Aline Silva Rocha</li>
				<li>- Rose</li>
			</ul>
		</blockquote>
	    </div>
    </ion-content>
</ion-view>
