<ion-view title="Palavras de mãe Stella">
	<ion-content class="padding">
	    <div class="item item-text-wrap">
			<blockquote>"{{ message.text }}"</blockquote>
			<small>
				<span class="my-player">
					<i ng-click="message.media.play()" class="my-player-button ion-android-volume-up" my-player></i>
					<i ng-click="message.media.pause()" class="my-player-button ion-android-volume-off hide" my-player></i>
				</span>
				{{ message.author }}
			</small>
	    </div>
	</ion-content>
</ion-view>